$cornflower-blue-color: #49c9ef;
$royal-blue-color: #347FE6;
$light-steel-color: #c0e0e0;
$light-gray: #F8F8F8;
$medium-turquoise: #63D7D9;
$white-color: #ffffff;
$red-colour: #e5272c;
$red-hover-colour: #f9272c;
$black-color: #000000;
$green-color: #4ebd5e;
$green-hover-color: #1cd427;