$cornflower-blue-color: #4CA0EF;
$royal-blue-color: #347FE6;
$light-steel-color: #F6F7F8;
$steel-blue: #326FBF;
$medium-turquoise: #63D7D9;
$white-color: #ffffff;
$red-colour: #ff666e;
$red-hover-colour: #ff0013;
$black-color: #000000;
$green-color: #65ff7c;
$green-hover-color: #00ff63;