html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #c0e0e087 0%, #90d3f6 50%); }

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
